In [5]:
import random
import numpy as np
import pandas as pd
import scipy.stats as sps
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

# from sklearn.utils import shuffle

In [2]:
series_1 = []

for i in range(100):
    # between 0 and 20
    num1 = random.randint(0, 2000) / 100
    series_1.append((num1, 1))
    
for i in range(75):
    # between 20 and 30
    num1 = random.randint(2000, 3000) / 100
    series_1.append((num1, 1))    

for i in range(50):
    # between 30 and 50
    num1 = random.randint(3000, 5000) / 100
    series_1.append((num1, 1))

for i in range(30):
    # between 50 and 75
    num1 = random.randint(5000, 7500) / 100
    series_1.append((num1, 1))
    
for i in range(20):
    # between 75 and 100
    num1 = random.randint(7500, 10000) / 100
    series_1.append((num1, 1))
    
for i in range(100):
    series_1.append((0.0, 0))

In [3]:
series_a = shuffle(series_1, random_state=1234)

NameError: name 'shuffle' is not defined

In [ ]:
series_1[0:10]

In [ ]:
series_a[0:10]

In [ ]:
series_2 = []  
    
for i in range(109):
    # between 0 and 20
    num1 = random.randint(0, 2000) / 100
    series_2.append((num1, 1))
    
for i in range(79):
    # between 20.00 and 30
    num1 = random.randint(2000, 3000) / 100
    series_2.append((num1, 1))    

for i in range(55):
    # between 30 and 50
    num1 = random.randint(3000, 5000) / 100
    series_2.append((num1, 1))

for i in range(35):
    # between 50 and 75
    num1 = random.randint(5000, 7500) / 100
    series_2.append((num1, 1))
    
for i in range(25):
    # between 75 and 100
    num1 = random.randint(7500, 10000) / 100
    series_2.append((num1, 1))
    
for i in range(90):
    series_2.append((0.0, 0))

In [ ]:
series_b = shuffle(series_2, random_state=4567)

In [ ]:
series_2[0:10]

In [ ]:
series_b[0:10]

In [ ]:
type(series_b)

In [ ]:
df_a = pd.DataFrame(series_a, columns=['revenue','converted'])

In [ ]:
df_a

In [ ]:
df_b = pd.DataFrame(series_b, columns=['revenue','converted'])

In [ ]:
df_b

In [ ]:
print("mean a:", df_a['revenue'].mean(), "std  a:", df_a['revenue'].std())
print("mean b:",df_b['revenue'].mean(),  "std  b:",df_b['revenue'].std())

In [ ]:
# assume the variance of the 2 datasets are equal
print(sps.ttest_ind(a=series_a, b=series_b, equal_var=True, alternative="two-sided"))

# assume the variance of the 2 datasets are NOT equal
print(sps.ttest_ind(a=series_a, b=series_b, equal_var=False, alternative="less"))

In [ ]:
df_a.hist(bins=20)

In [ ]:
df_b.hist(bins=20)

In [ ]:
df_a.to_csv('generated_data_a.csv')

In [ ]:
df_b.to_csv('generated_data_b.csv')

In [6]:
normal_data = np.random.normal(15, 15, 200)

In [7]:
normal_data = normal_data[normal_data > 0]

In [18]:
print("len: ", len(normal_data), "mean :", normal_data.mean(), "std dev: ", normal_data.std())

len:  169 mean : 18.909599497452753 std dev:  11.807586590059088

In [11]:
df1 = pd.DataFrame(normal_data)
df1.columns = ['rate']
df1

          rate
0    12.465066
1    29.124034
2    12.418092
3    21.618755
4    10.789454
..         ...
164   6.197850
165  24.492959
166  34.813961
167  12.499266
168  21.463880

[169 rows x 1 columns]

In [23]:
df1.to_csv('half_normal_data_mu15_std15.csv')

In [20]:
normal_data2 = np.random.normal(13, 15, 200)

In [21]:
normal_data2 = normal_data2[normal_data2 > 0]

In [22]:
print("len: ", len(normal_data2), "mean :", normal_data2.mean(), "std dev: ", normal_data2.std())

len:  160 mean : 16.414283300338866 std dev:  11.345452862302965

In [19]:
print("len: ", len(normal_data), "mean :", normal_data.mean(), "std dev: ", normal_data.std())

len:  169 mean : 18.909599497452753 std dev:  11.807586590059088

In [24]:
df2 = pd.DataFrame(normal_data2)
df2.columns = ['rate']
df2

          rate
0     1.636872
1    24.860388
2    12.369456
3    29.880620
4    14.867301
..         ...
155  29.233537
156   7.299605
157  41.128513
158  16.995962
159  19.241780

[160 rows x 1 columns]

In [26]:
df2.to_csv('half_normal_data_mu13_std15.csv')